### DataFrame 누락데이타 처리하기
    누락데이타 처리하는 기능 - dropna(), fillna(), isnull(), notnull()

In [ ]:
'''
판다스는 누락된 모든 데이타를 NaN으로 처리한다.
dropna() : NaN값이 하나라도 있으면 해당 row를 삭제
dropna(how='all') : 모두 NaN 값인 row를 삭제
dropna(how='any') : NaN 값이 하나라도 있으면 해당 row를 삭제
dropna(tresh=3) : NaN값이 2개라도 있으면 해당 row를 삭제, data가 3개 이상이면 남기겠다.

fillna() : 누락된 데이타를 다른값으로 채움

isnull()
notnull()
'''

In [1]:
import pandas as pd
from pandas import DataFrame
from numpy import nan as NA

In [3]:
df = DataFrame([[1,6.5,3],[1,NA,NA],[NA,NA,NA],[NA,6.5,3]])
df

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [8]:
#1. dropna()
removeNa = df.dropna()      #누락값이 하나라도 있으면 삭제
removeNa

df.dropna()      #누락값이 하나라도 있으면 삭제
df         #원본은 유지한다

df.dropna(how='all')      #모든 데이타가 누락데이타일때만 삭제
df.dropna(how='any')

df.dropna(thresh=2)
# df.dropna(thresh=3)

     0    1    2
0  1.0  6.5  3.0
3  NaN  6.5  3.0

### DataFrame 누락데이타 처리하기
    누락된 값 채우기 - fillna()

In [11]:
df.fillna(0)      #0으로 채운다
df.fillna(df.mean())      #평균으로 채운다
df.fillna(value=66)         #내가 원하는 값으로 채우기

      0     1     2
0   1.0   6.5   3.0
1   1.0  66.0  66.0
2  66.0  66.0  66.0
3  66.0   6.5   3.0

In [12]:
df.fillna(method='ffill')      #위에있는거 따라서 채워준다

     0    1    2
0  1.0  6.5  3.0
1  1.0  6.5  3.0
2  1.0  6.5  3.0
3  1.0  6.5  3.0