### 함수

In [ ]:
'''
머신러닝, 딥러닝을 하다보면
함수를 우리가 정의해서 사용하는 경우가 많이 있다.
잘 알아두자

1. 기본문법
def 함수이름(매개변수):
    """
        docsring... 함수 기능에 대한 설명....
    """    
    <수행할 문장1>
    <수행할 문장2>
    [return ]
    
2. 함수를 만드는 4가지 방법
   - 위치 매개변수
   - 기본 매개변수
   - 키워드 매개변수
   - 가변 매개변수
'''

In [1]:
# 1. 위치 매개변수
# 가장 기본적인 인자값을 전달하는 방식, 함수에서 정의한 위치대로 인자값 할당
# doc string 조차도 들여쓰기를 주의해야한다.

def calc(num1, num2):
    '''
    인자값으로 받은 num1, num2
    2개의 숫자값을 더해서 result에 할당
    그 값을 리턴하는 기능
    '''
    result = num1 + num2
    return result

In [2]:
print(calc(3,5))

8

In [4]:
#calc?  물음표 하나는 함수에 대한 전반적인 설명
#calc?? 물음표 두개는 코드가 나온다

In [6]:
#리턴값이 없는 경우
def add(a,b):
    print('%d와 %d의 합은 %d입니다' %(a,b,(a+b)))

In [7]:
add(3,4)
print(add(3,4))

3와 4의 합은 7입니다
3와 4의 합은 7입니다
None

In [ ]:
#2. 기본매개변수
# import random
# com = random.randrange
'''
변수값이 입력되지 않으면 기본값이 활성화됨...
기본매개변수 뒤에 일반(위치)매개변수가 올 수 없음

'''

In [10]:
def calc1(num1, start=0):
    total = 0
    for i in range(start, num1):
        total +=i
    return total

print(calc1(6,4))
print(calc1(3))

9
3

In [12]:
'''
pandas의 read_csv() 함수를 대표적으로 살펴보면
위치(일반)매개변수보다 기본매개변수를 훨씬 많이 쓰고있다는 것을 알 수 있다.
'''
import pandas as pd
from pandas import DataFrame
pd.read_csv?

In [16]:
#3. 키워드 매개변수 : 순서에 상관없이 직접 매개변수를 지정해서 찾아감
#
def cal2(name, age, weight):
    print('나의 이름은', name, '이고 나이는', age, '입니다', weight)

In [19]:
cal2('홍길동', 19, 40)   #위치매개변수
cal2('홍길동', 40, 19)    #에러는 아니지만 잘못된 값 전달
cal2(age=19, weight=40, name='홍길동')      #키워드 매개변수

나의 이름은 홍길동 이고 나이는 19 입니다 40
나의 이름은 홍길동 이고 나이는 40 입니다 19
나의 이름은 홍길동 이고 나이는 19 입니다 40

In [26]:
# 키워드 매개변수의 예
import numpy as np
import pandas as pd
from pandas import DataFrame

df1 = DataFrame(np.random.randn(4,4),
               index=list('abcd'),
               columns=list('efgh')
               )
df1

          e         f         g         h
a  2.434353 -1.402006 -0.758883 -3.988334
b -2.235495 -0.677141 -1.553712  0.493610
c  1.514922 -0.882352  0.944223 -2.374548
d  1.258918 -1.682775 -1.737187 -0.156750

In [28]:
# 4. 가변매개변수 : 인자값이 몇개인지 모르는 상황에서 사용
# 파이썬에서의 print()
# 일반매개변수와 달리 변수명 앞에 *이 붙는다
# 일반매개변수 앞에는 사용할 수 없다
# 가변매개변수는 단 하나만 사용가능

def cal3(*args):
    print(args)
    
cal3(3,4,5)     #결과가 튜플타입으로 출력된다.
cal3(3)      # 튜플로 출력된다

(3, 4, 5)
(3,)

In [29]:
def calc4(**args2):
    print(args2)
    
# calc4(3,4)    #에러난다
# *이 2개일때는 딕셔너리 타입으로....출력

calc4(name='홍길동', age='19', address='민속촌')

{'name': '홍길동', 'age': '19', 'address': '민속촌'}

In [33]:
def calc5(*args, name):
    print(name, ':', args)
    
#calc5('홍길동', 19)
calc5(19,'홍길동')

TypeError: calc5() missing 1 required keyword-only argument: 'name'

In [34]:
def calc5(name, *args):
    print(name, ':', args)

calc5('홍길동', 3,5,6)

홍길동 : (3, 5, 6)

In [35]:
'''
가변 매개변수와 위치매개변수를 사용해서
3
6
9
가 출력되도록 함수를 정의
1) 이때 위치매개변수에는 인자값 3을 넣어서 호출되도록
2) for문 사용

'''

def value_times(times, *values):
    for value in values:
        print(times * value)
    
value_times(3,1,2,3)

3
6
9

#### 문제2 가변매개변수와 기본매개변수

In [36]:
def value_times(*values, times=2):
    for value in values:
        print(times * value)

In [37]:
value_times(1,2,3,4,times=5)
print('*'*30)
value_times(1,2,3,4)
print('*'*30)
value_times(1,2,3)

5
10
15
20
******************************
2
4
6
8
******************************
2
4
6

In [38]:
def value_times(times=2, *values):
    for value in values:
        print(times * value)

In [40]:
# value_times(1,2,3,4,times=5)
print('*'*30)
value_times(1,2,3,4)
print('*'*30)
value_times(1,2,3)

******************************
2
3
4
******************************
2
3

#### Custom 함수 정의하기

In [ ]:
'''
파이썬이 제공하는 함수는 사용하지 않고
아래와 같은 기능을 실행할 수 있는 함수 5개를 정의
getSum(data) : 전달받은 데이타의 합을 구해서 리턴하는 기능
getMean(data) : 평균리턴
getMax(data) : 최대값 리턴
getMin(data) : 최소값 리턴
getTwoSum(num2, num1=1) : 두 수 포함... 두 수 사이의 합을 구하는 함수....
                            두수의 합을 리턴
'''

In [58]:
def getSum(data):
    sum=0
    for d in data:
        sum+=d
    return sum

# getSum(1,2,3)

In [66]:
def getMean(data):
    sum=0
    for d in data:
        sum+=d
    mean = sum/len(data)
    return mean

# getMean(1,2,3)

In [61]:
def getMax(data):
    max=data[0]
    for idx in range(len(data)):
        if(data[idx]>max):
            max=data[idx]
    return max

# getMax(1,2,3)

In [62]:
def getMin(data):
    min=data[0]
    for idx in range(len(data)):
        if(data[idx]<min):
            min=data[idx]
    return min

# getMin(1,2,3)

In [63]:
def getTwoSum(num2, num1=1):    #num1이 더 큰값이 왔을 때....
    sum=0
    if(num1>num2):
        num1, num2 = num2, num1 #두수를 스왑시킴
    for i in range(num1,num2+1):
        sum+=i
    return sum

# getTwoSum(3,5)

In [ ]:
# 값을 input()으로 받아서.... 원하는 함수를 직접 호출....
# 실행하는 부분과 호출하는 부분을 별도로 작성....
# 실행하는 모듈과 호출하는 모듈이 서로 다를 수 있다.

In [68]:
#1. 값입력
dataL = input('값입력').split(',')
dataL

intDataL = [int(i) for i in dataL]
print(intDataL)

#2. 함수 호출
print('총합 :',getSum(intDataL))
print('평균값 :',getMean(intDataL))
print('최대값 :',getMax(intDataL))
print('최소값 :',getMin(intDataL))
print('getTwoSum :',getTwoSum(4,9))

값입력1,2,3,4,5,6
[1, 2, 3, 4, 5, 6]
총합 : 21
평균값 : 3.5
최대값 : 6
최소값 : 1
getTwoSum : 39