# 1. 자료형
## Background
- 데이터 타입
- 제어문

## Problem
### 1. myList = `[[1,2,3],[4,5,6],[7,8]]`에 9를 추가하여 `[[1,2,3],[4,5,6],[7,8,9]]`가 되도록 구현해보세요
- append와 insert 두가지 방법으로 풀어보세요

In [3]:
myList = [[1,2,3],[4,5,6],[7,8]]
myList[2].append(9)
myList

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [4]:
myList = [[1,2,3],[4,5,6],[7,8]]
myList[2].insert(2,9)
myList

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### 2. Dictionary를 활용해서 학생들의 이름과 점수를 key와 value로 입력하고 추가, 삭제, 업데이트를 진행해보세요.
1. score라는 dictionary에 하준 90점, 서윤 86점, 지아 80점을 입력하세요.
2. score에 수지 95점을 추가하세요.
3. score에서 지아를 삭제하세요.
4. score에 기창 98점, 남철 60점, 기성 75점을 <u>한번에</u> 추가해보세요

In [7]:
score={'하준':90, '서윤':86, '지아':80}
score.update({'수지':95})
score

{'하준': 90, '서윤': 86, '지아': 80, '수지': 95}

In [9]:
score={'하준':90, '서윤':86, '지아':80}
del score['지아']
score

{'하준': 90, '서윤': 86}

In [11]:
addDic={'기창':98, '남철':60, '기성':75}
score.update(addDic)
score

{'하준': 90, '서윤': 86, '기창': 98, '남철': 60, '기성': 75}

### 3. 다음 리스트에서 중복된 항목을 없애보세요.
```python
myList = [1,3,2,3,7,6,8,4,10,5,3,8,9]```

In [14]:
myList = [1,3,2,3,7,6,8,4,10,5,3,8,9]
setData = set(myList)
setData

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### 4. 다음의 세 문장에서 중복으로 사용된 알파벳만 출력해보세요.(대소문자 구분)
- "Hello python"
- "Funny programming"
- "Happy newyear"

In [27]:
list1 = list("Hello pythonFunny programmingHappy newyear")
result = []
for i in set(list1):
    list1.remove(i)
list1

['l',
 'o',
 'n',
 'n',
 'y',
 ' ',
 'p',
 'o',
 'r',
 'm',
 'n',
 'g',
 'H',
 'a',
 'p',
 'p',
 'y',
 ' ',
 'n',
 'e',
 'y',
 'e',
 'a',
 'r']

### 5. 다음과 같은 규칙을 가진 숫자의 합을 for문을 사용해서 구현하세요.
- 1 + (1 + 3) + (1 + 3 + 5) + (1 + 3 + 5 + 7) + ... + (1 + 3 + ... + 19)

In [34]:
sum = 0
for i in range(1,20,2):
    for j in range(1,i+1,2):
        sum += j
print(sum)

385